@import url(./normalize.css);
@import url(./fonts/inter.css);
@import url(./blocks/page/page.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/visible/visible.css);
@import url(./blocks/popup/__close-icon/popup__close-icon.css);
@import url(./blocks/popup/form/form.css);
@import url(./blocks/popup/form/__title/form__title.css);
@import url(./blocks/popup/form/__input/form__input.css);
@import url(./blocks/popup/form/__button/form__button.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__info/-name/profile__info-name.css);
@import url(./blocks/profile/__info/-editbutton/profile__info-editbutton.css);
@import url(./blocks/profile/__info/-work/profile__info-work.css);
@import url(./blocks/profile/__addbutton/profile__addbutton.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/elements/card/card.css);
@import url(./blocks/elements/card/__trash-icons/card__trash-icon.css);
@import url(./blocks/elements/__element/elements__element.css);
@import url(./blocks/elements/card/__description/card__description.css);
@import url(./blocks/elements/card/__text/card__text.css);
@import url(./blocks/elements/card/__like/card__like.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__text/footer__text.css);

.image-popup__img{
        position: relative;
        width: 433px;
        height: 540px;
        z-index: 3;
        margin: 0 auto;
    }
    
    @media screen and (max-width:767px) {
        .image-popup__img{
            width: 282px;
            height: 322px;
        
        }
    }


.popup__close-image{
    position: absolute;
    background: transparent url('/images/closeicon.svg') center no-repeat;
    background-size: contain; 
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    top: 20px; 
    right: 420px; 
    transition: all 0.3s ease;
    cursor: pointer;
   
}

.image-popup__title{
position: absolute;
font-size: 12px;
font-weight: 400;
color:#FFFFFF;
line-height: 14.52px;
top: 585px; 
left: 460px;

}


.button_like-active{
background-color: black;
      
}





