 .page {
        font-family: Inter;
        margin: 0;
        background-color: #000;
        color: white;
        overflow: hidden;
    
    }
.header{
    margin-top: 50px;
    margin-bottom: 100px;
}
    .elements {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        margin: 0 auto 0 auto;
        margin-bottom: 100px;
        place-items: center;
        
    }
    .elements__element{
        width: 100%;
        max-width: 282px;
        max-height: 361px;
    }