.card__description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    padding: 25px;
    border-radius:10px;
    
    }