.profile__addbutton {
    background: transparent url(../../../images/Vector\ \(2\).svg) center no-repeat;
    width: 150px;
    height: 50px;
    position: absolute;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border: 2px solid white;
    transition: all 0.3s ease;
}


@media screen and (max-width:767px) {
    .profile__addbutton {
     width: 282px;
        height: 50px;
        position: static;
    
    }
}
.profile__addbutton:hover{
    opacity: 0.6;
}