.popup__close-icon {
    position: absolute;
    top: 150px;
    right: 500px;
    background: transparent url(../../../images/closeicon.svg) center no-repeat;
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
    transition:0.3s ;

}

.popup__close-icon:hover {
    background: transparent url(../../../images/closeiconhoverlay.svg);

}