
.popup__image-title{
    position: absolute;
    font-size: 12px;
    font-weight: 400;
    color:#FFFFFF;
    line-height: 14.52px;
    bottom: 45px;
    left: 540px;
    
    }

    @media screen and (max-width:767px) {
        .popup__image-title{
            bottom: 85px;
            left: 40px;
        
        }
    }
    