
.popup__image-title{
    position: absolute;
    max-width:291px;
    max-height: 12px;
    font-size: 16px;
    font-weight: 400;
    color:#FFFFFF;
    line-height: 14.52px;
    bottom: 45px;
    left: 540px;
    bottom:-40px ;
    left:0px ;
    
    }

    @media screen and (max-width:767px) {
        .popup__image-title{
            font-size: 12px;
            bottom: -25px;
            left: 10px;
        
        }
    }
    