.form__button {
    color: white;
    background-color: black;
    width: 358px;
    height: 50.15px;
    font-size: 18px;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.button_inactive:hover{
    background: gainsboro;
    border: 1px solid white;
    }
    
    
@media screen and (max-width:767px) {
    .form__button{
        max-width: 238px;
        height: 46px;
    }
}

.form__button:hover {
    background-color: #333;
   
}

